@import '../../assets/scss/utils/varibles.scss';
@import '../../assets/scss/utils/functions.scss';
@import '../../assets/scss/utils/mixins.scss';

* {
  box-sizing: border-box;
}
body, html{
  font-size: 1.6rem; // 16px
  height: 100%;
  min-height: 100%;
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .background-wrapper{
    background: linear-gradient(to right bottom, rgba($darkGrey, 0.25) 50%, rgba($lightGrey, 0.25) 50%);

  }
  .site-root{
    max-width: 900px;
    margin: auto;
    background: white;
  }
  .fadeIn{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    &.loaded{
      opacity: 1;
    }
  }
}
section{
  margin-bottom: em(20);
}


