{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/prefer-default-export": 0,
    "max-len": 0,
    "no-new": 0,
    "no-console": 0,
    "no-unneeded-ternary": 0,
    "no-nested-ternary": 0,
    "no-underscore-dangle": 0,
    "prefer-template": 0,
    "radix": 0,
    "react/no-string-refs": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/no-danger": 0,
    "react/no-multi-comp": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-closing-bracket-location": [1, {
      "nonEmpty": "after-props",
      "selfClosing": "tag-aligned"
    }]
  }
}
