@import '../../../assets/scss/utils/varibles.scss';
@import '../../../assets/scss/utils/functions.scss';
@import '../../../assets/scss/utils/mixins.scss';
.siteFooter{
  background-color: $darkGrey;
  width: 100%;
  padding: em(20);
}
.socialLinks{
  display: flex;
  justify-content: flex-end;
  margin-bottom: em(10);
}
.linkIcon{
  width: em(25);
  height: em(25);
  margin-left: em(20);
}
.copyright{
  color: $white;
  font-size: 12px;
  width: 100%;
  text-align: right;
}