@import './functions.scss';


/* Breakpoints */
$medium: 768;
$large: 1024;

$margin: em(50);


/* CV colours */
$white: #ffffff;
$black: #000000;
$darkGrey: #252525;
$lightGrey: #5c5757;
$yellow: #fdde11;
