@import '../../../assets/scss/utils/functions.scss';
@import '../../../assets/scss/utils/varibles.scss';
@import '../../../assets/scss/utils/mixins.scss';

.fullWidthVideo {
  width: 100%;
  margin: $margin 0;
  position: relative;
  video {
    width: 100%;
  }
  .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .fullScreenBtn {
    position: absolute;
    bottom: em(40);
    right: em(40);
    color: $white;
    border: none;
    outline: none;
    padding: em(10);
    background-image: url("../../../assets/images/svgs/backgrounds/icon-fullscreen.svg");
    background-position:center center;
    background-size:em(30) em(30);
    background-repeat: no-repeat;
    // background-color: rgba(0,0,0,0.5);
    background-color: $black;
    opacity:0.5;
    cursor: pointer;
    width: em(60);
    height: em(60);
    transition: all 0.3s ease;
    &:hover .fullScreenBtn {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      background-image: url("../../../assets/images/svgs/backgrounds/icon-fullscreen.svg");
      background-position:center center;
      background-size:em(30) em(30);
      background-repeat: no-repeat;
      // background-color: rgba(0,0,0,1);
      opacity:1;
    }
  }
  .fullScreenBtn[data-state="play"] {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .fullScreenBtn[data-state="pause"] {
    opacity: 0;
  }
  &:hover .fullScreenBtn[data-state="pause"] {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .playPauseBtn {
    font-size: 16px;
    width: em(110);
    height: em(110);
    border-radius: 50%;
    display: block;
    position: relative;
    left:50%;
    top:50%;
    margin-top: -55px;
    margin-left: -55px;
    background-color: $black;
    color: $white;
    border: none;
    outline: none;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  .playPauseBtn[data-state="play"] {
    opacity: 0.5;
    background-image: url("../../../assets/images/svgs/backgrounds/icon-play.svg");
    background-position:center right 37px;
    &:hover {
      opacity: 1;
    }
  }
  .playPauseBtn[data-state="pause"] {
    opacity: 0;
    background-image: url("../../../assets/images/svgs/backgrounds/icon-pause.svg");
    background-position:center center;
  }
  &:hover .playPauseBtn[data-state="pause"] {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  progress {
    position: absolute;
    bottom: em(40);
    left: 0;
    right: 0;
    width: percentage(14/16);
    height: 10px;
    margin-top: 0.125rem;
    border: none;
    border-radius: 2px;
    transform: translateX(percentage(1/16));
    background: $codGray;
  }
  progress[data-state="fake"] {
    background: $codGray;
    height: 10px;
  }
  progress span {
    width: 0;
    height: 100%;
    display: inline-block;
    background-color: $white;
  }
  progress::-moz-progress-bar,
  progress::-webkit-progress-bar {
    transition: width 0.1s;
    background-color: $codGray;
  }
  ::-moz-progress-bar {
    background-color: $codGray;
  }
  ::-webkit-progress-bar {
    background-color: $codGray;
  }
  progress::-webkit-progress-value {
    transition: width 0.1s;
    background-color: $white;
 }
}
