@import '../../assets/scss/utils/functions.scss';
@import '../../assets/scss/utils/varibles.scss';
@import '../../assets/scss/utils/mixins.scss';

.errorContainer{
  justify-content: space-between;
  padding: em(20, 15);
  text-align: center;
  @include bp($large) {
    flex-direction: row;
    padding: em(35, 15);
  }
  span{
    display: block;
    font-size: em(150);
  }
}

.clipText{
  background-image: url('/assets/images/jpgs/timmy_and_me.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
  max-width: 321px;
  height: 242px;
}
.text{
  font-size: 150px;
  color: black;
  mix-blend-mode: screen;
  background-color: rgba($yellow, 0.4);
  text-align: center;
  margin: 0;
  border: em(8, 150) solid;
  height: 100%;
  line-height: 242px;
}