@import '../../../assets/scss/utils/varibles.scss';
@import '../../../assets/scss/utils/functions.scss';
@import '../../../assets/scss/utils/mixins.scss';

.cvHeader{
  padding: em(40);
  background: $lightGrey;
  color: $white;
  text-align: center;
}
.contactBar{
}
.role,
.location{
  font-size: 16px;
  display: inline-block;
}
.pipe{
  padding: 0 em(10);
  color: $yellow;
}

.email{
  span{
    font-size: 10px;
  }
}