@import '../../../assets/scss/utils/functions.scss';
@import '../../../assets/scss/utils/varibles.scss';
@import '../../../assets/scss/utils/mixins.scss';

.collaborators{
  @include bp($large) {
    padding: 0 em(25);
  }
  margin-bottom: $margin;
  p{
    margin-bottom: 0;
  }
}
