@import '../../../assets/scss/utils/functions.scss';
@import '../../../assets/scss/utils/mixins.scss';
@import '../../../assets/scss/utils/varibles.scss';

.logosContainer {
  padding:0 1.875em;
  float: left;
  clear:both;
  width:100%;
  @include bp($tablet) {
    padding: 0 5em;
  }
  .logosWrapper {
    float:left;
    clear:both;
    width:100%;
  }
  h2 {
    float:left;
    display: inline-block;
  }
  @include bp($large) {
    padding: 0 5em;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    float: left;
    clear:both;
    margin-bottom: em(50);
    .logo {
      text-align: center;
      width: 33.333%;
      height:em(75);
      @include bp($medium) {
        width: percentage(4 / 16);
      }
      @include bp($large) {
        width: percentage(2 / 16);
      }
      img{
        max-width: em(60);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-child {
        display: none;
        @include bp($medium) {
          display: block;
        }
      }
    }
  }
}
