@import '../../assets/scss/utils/functions.scss';
@import '../../assets/scss/utils/varibles.scss';
@import '../../assets/scss/utils/mixins.scss';

.site_footer,.site_footer_contact {
  background: $white;
  color: $black;
  width: 100%;
  padding: em(50) 0 em(100);
  font-size: em(15);
  animation: fadein 1s;
  a{
    color: $blackText;
    &:hover {
      color: $lightGrey;
    }
  }
  a[href^="tel:"]{
   font-weight:normal;
 }
 .container{
    display: flex;
    flex-direction: column;
    padding:0 1.875em;
    @include bp($tablet) {
      padding-left: 5em;
      padding-right: 5em;
    }
    @include bp($large) {
      flex-direction: row;
      padding-left: 5em;
      padding-right: 5em;
      padding-top:0;
    }
  }
  .legals{
    width: 100%;
    span{
      display: block;
      line-height: 2em;
    }
    .company{
      margin-bottom: em(30);
    }
  }
  address {
    margin-bottom: em(25, 15);
  }
  .social_nav,
  .address,
  .contact{
    width: 100%;
    margin-bottom: em(35, 15);
    @include bp($large) {
      width: percentage(3 / 16);
      margin-bottom: em(0, 15);
    }
    span, a{
      line-height: 1em;
      margin-bottom: em(10);
    }
  }
  .social_nav{
    @include bp($large) {
      margin-left: auto;
    }
  }
  .address{
    span{
      display: block;
    }
  }
}
.site_footer {
  a {
    display: block;
    clear:both;
  }
}
.site_footer_contact a {
  display: inline-block;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
